.background-2, .opaque-background-2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}

.background-2::-webkit-scrollbar, .opaque-background-2::-webkit-scrollbar {
    display: none;
}

.background-2 {
    background: url(../images/matcher-background-2.png) center center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

.opaque-background-2 {
    background: #000000a5;
}
