.match-btn, .edit-match-btn-icon, .matches-btn-icon, .submit-comment-btn, .submit-comment-icon, .cancel-comment-icon, .cancel-comment-btn {
    width: 28px;
    margin-right: 4px;
    border: none;
    background: none;
    font-size: 13px;
}

.write-score-icon, .write-score-btn {
    width: 35px;
    padding-left: 5px;
    padding-right: 3px;
}

.write-score-btn {
    width: 38px;
}

.write-comment-btn {
    width: 35px;
    padding-left: 7px;
    padding-right: 0px;
    margin-right: 0px;
}

.submit-comment-btn {
    width: 29px;
    margin-right: 0px;
    padding-left: 3px;
    padding-right: 0px;
}

.cancel-comment-btn {
    width: 33px;
    padding-right: 2px;
}

.match-btn:hover, .edit-match-btn-icon:hover, .matches-btn-icon:hover, .submit-comment-btn:hover, .submit-comment-icon:hover, .cancel-comment-icon:hover, .cancel-comment-btn:hover {
    cursor: pointer;
}

.match-btn:focus, .edit-match-btn-icon:focus, .matches-btn-icon:focus, .submit-comment-btn:focus, .submit-comment-icon:focus, .cancel-comment-icon:focus, .cancel-comment-btn:focus {
    outline: none;
}

.confirm-delete-msg {
    padding: 5px;
    color: #ff0000dd;
}

.confirm-delete, .cancel-delete, .score-btn {
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    color: white;
}

.confirm-delete:hover, .cancel-delete:hover, .score-btn:hover {
    cursor: pointer;
}

.confirm-delete, .submit-score-btn {
    background-color: red;
}

.cancel-delete, .cancel-score-btn {
    background-color: #007b22;
}

.delete-icon {
    position: relative;
    top: 3px;
    left: 3px;
}

.cancel-comment-icon {
    position: relative;
    left: 4px;
}

.outcome-lost {
    text-decoration: underline red;
}

.outcome-won {
    text-decoration: underline #007b22;;
}

.comment-ul {
    width: 225px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    background-color: #ffffff;
    border-radius: 2px;
    color: #000000;
}

.comment-ul, .comment-li {
    list-style: none;
}

.comment-li  {
    padding-bottom: 4px;
}

.score-label {
    padding-left: 4px;
}

#score, #datePlayed {
    display: inline-block;
    background: #202221;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

#score {
    margin-left: 5px;
    margin-bottom: 3px;
}

#datePlayed {
    margin-left: 8px;
    margin-bottom: 4px;
}

#score:focus, #datePlayed:focus {
    outline: none;
    background: #ffffff;
}

.won-lost-btn-wrap {
    padding-top: 3px;
    padding-bottom: 3px;
}

#isWon {
    display: inline;
}

.won-wrap, .lost-wrap {
    padding: 5px;
}

.score-error, .comment-error {
    color: red;
}