.friends-section {
    max-width: 640px;
    margin: auto;
    text-align: left;
    background: #c2c2c2;
}

.friends-h3 {
    display: inline-block;
    margin: 1px 1px 1px 1px;
}

.friends-list {
    list-style: none;
    padding-left: 0px;
}

.friend-li {
    margin-bottom: 7px;
    padding: 10px 2px 10px 3px;
    border: 1px solid black;
}

.friend-btns {
    margin-top: 5px;
    border: none;
    background: #c2c2c2;
}

.friend-btn-icon {
    width: 30px;
}

.delete-icon {
    width: 23px;
    margin-bottom: 4px;
}

.friend-btn-icon:hover {
    cursor: pointer;
}