.landing-background, .opaque-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}

.landing-background {
    background: url(https://cdn.wallpapersafari.com/67/14/nfygBq.png) center center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

.opaque-background {
    background: #00000066;
}

.landing-header {
    margin: 0 auto;
    position: absolute;               
    top: 50%;   
    left: 20%; 
    right: 20%;                     
    transform: translate(0, -50%);
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.landing-head {
    margin-bottom: 0px;
}

.landing-subhead {
    margin-top: 0px;
    padding-left: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    font-family: 'Josefin Slab', serif;
    border-bottom: 1px solid #ffffff;
}

.landing-btn {
    font-size: 9px;
    width: 75px;
    padding: 7px 5px 8px 6px;
    border: none;
    color: #292929;
    background: #ffffffec;
    -webkit-transition: transform 1s; 
    transition: transform 1s;
}

.landing-signup:hover {
    transform: rotateX(360deg);
    cursor: pointer;
}

.landing-login:hover {
    transform: rotateY(360deg);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000000;
}

main {
    color: #ffffff;
}

section {
    height: 75px;
    text-align: center;
}
