.landing-background-1, .opaque-background-1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* overflow-y: scroll; */
}

.landing-background-1 {
    background: url(../images/matcher-background-1.png) center center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

.opaque-background-1 {
    background: #000000ba;
}

.landing-header {
    margin: 0 auto;
    position: absolute;               
    top: 50%;   
    left: 20%; 
    right: 20%;                     
    transform: translate(0, -50%);
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.landing-head {
    margin-bottom: 0px;
}

.landing-subhead {
    margin-top: 0px;
    padding-left: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    font-family: 'Josefin Slab', serif;
    border-bottom: 1px solid #ffffff;
}

.landing-btn {
    font-size: 11px;
    width: 75px;
    padding: 7px 5px 8px 6px;
    border: none;
    border-radius: 1px;
    color: #292929;
    background: #ffffffec;
    transition: background-color 1s;
}

.landing-login:hover, .landing-signup:hover {
    cursor: pointer;
    border-radius: 1px;
    background-color: #e9e9e9;
}

a {
    text-decoration: none;
}

main {
    color: #ffffff;
}

