.matches-header {
    background: #000000b3;
}
.match-li {
    background-image: linear-gradient(to right, #000000d2, #00000029 );
    padding-left: 3px;
}

.inbox-section {
    max-width: 640px;
    margin: auto;
    margin-top: 22px;
    text-align: left;
}

.matches-header {
    max-width: 640px;
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.matches-h1 {
    font-size: 38px;
    margin-top: 60px;
    padding: 10px;
}

.matches-main {
    margin-top: 20px;
}

.matches-list {
    list-style: none;
    padding-left: 0px;
}

.match-li {
    width: 95%;
    max-width: 640px;
    margin: auto;
    font-size: 17px;
    font-family: 'Josefin Slab', serif;
    margin-bottom: 7px;
    padding: 10px 13px 10px 3px;
}

.match-li > p {
    margin-top: 7px;
    margin-bottom: 7px;
}

.matches-btns-wrap {
    text-align: center;
}

#msg-reply #msg-delete {
    width: 35px;
    margin: auto;
    background: #ebebeb;
}

.matches-btn, .matches-btn-icon {
    /* width: 40px; */
    margin: 3px;
    border: none;
    background: none;
    font-size: 13px;
}

.matches-btn-icon {
    display: inline-block;
    padding-bottom:5px;
    border-bottom: 1px solid #000000;
}

.matches-btn:hover, .matches-btn-icon:hover {
    cursor: pointer;
}

.matches-btn:focus, .matches-btn-icon:focus {
    outline: none;
}