.user-panel {
    max-width: 600px;
    margin: auto;
    margin-top: 63px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    background: #000000b3;
    font-size: 17px;
    font-family: 'Josefin Slab', serif;
}