.signup-header {
    margin-top: 20px;
    width: 300px;
    margin: auto;
    margin-top: 15px;
    text-align: left;
    color: #ffffff;
    font-size: 36px;
    font-family: 'Open Sans Condensed', sans-serif;
}  

.signup-header > h1 {
    margin-bottom: 10px;
}

.signup-subhead {
    width: 300px;
    margin: auto;
    font-size: 14px;
    text-align: left;
    font-family: 'Josefin Slab', serif;
}

.signup-section {
    font-size: 0px;
}

.login-link, .landing-link {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    transition: border-bottom 0.9s;
}

.landing-link {
    font-size: 14px;
}

.landing-link:hover {
    border-bottom: 2px solid #f2ff00;
}

.login-link:hover {
    border-bottom: 2px solid #007b22;
}

main {
    margin-top: 25px;
    text-align: center;
}

form {
    max-width: 640px;
    margin: auto;
}

.signup-input {
    width: 300px;
    margin-bottom: 15px;
    padding: 5px;
    border: none;
    border-radius: 1px;
    transition: display 1s;
}

.state-select {
    display: inline-block;
    width: 300px;
    background: #ffffff;
    padding: 6px;
    border: none;
    border-radius: 1px;
}

.next-text-fld-btn {
    margin-top: 15px;
    width: 45px;
    transition: transform 1s;
}

.next-text-fld-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.next-text-fld-btn:focus{
    outline: none;
}

.errorMsg {
    width: 300px;
    margin: auto;
    text-align: left;
    font-size: 12px;
    color: red;
    font-family: 'Josefin Slab', serif;
}

@media (min-width: 600px) {
    .signup-header, .signup-subhead, .errorMsg {
        width: 450px;
    }
    .signup-subhead {
        margin: auto;
        font-size: 20px;
        text-align: left;
    }
    .signup-input, .state-select {
        width: 450px;
        font-size: 16px;
    }
    .signup-input {
        padding: 10px;
    }
    .state-select {
        padding: 9px;
    }
    .landing-link {
        font-size: 24px;
    }
    .errorMsg {
        font-size: 18px;
    }
}