.signup-header {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.signup-subhead {
    width: 300px;
    margin: auto;
    font-size: 14px;
    text-align: left;
    font-family: 'Josefin Slab', serif;
}

.signup-section {
    font-size: 0px;
}

.login-link, .landing-link {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.landing-link {
    font-size: 14px;
}

main {
    margin-top: 25px;
    text-align: center;
}

form {
    max-width: 640px;
    margin: auto;
}

.signup-input {
    width: 300px;
    margin-bottom: 15px;
    padding: 5px;
    border: none;
    border-radius: 1px;
    transition: display 1s;
}

.state-select {
    width: 300px;
    background: #ffffff;
    padding: 4px;
    border: none;
    border-radius: 1px;
}

.next-text-fld-btn {
    margin-top: 15px;
    width: 45px;
    transition: transform 1s;
}

.next-text-fld-btn:hover {
    cursor: pointer;
}

.errorMsg {
    width: 300px;
    margin: auto;
    text-align: left;
    font-size: 12px;
    color: red;
    font-family: 'Josefin Slab', serif;
}